@import "../variables.module";

.toolbarBtn {
  height: 25px;
  width: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  background-size: cover;
  margin: 0px 3px 0px 3px;
}

.brush {
  background: url('../../assets/img/brush.svg') no-repeat center;
}

.circle {
  background: url('../../assets/img/circle.svg') no-repeat center;
}

.eraser {
  background: url('../../assets/img/eraser.svg') no-repeat center;
}

.line {
  background: url('../../assets/img/arrow-up-right.svg') no-repeat center;
}

.rect {
  background: url('../../assets/img/square.svg') no-repeat center;
}

.redo {
  background: url('../../assets/img/arrow-90deg-right.svg') no-repeat center;
}

.undo {
  background: url('../../assets/img/arrow-90deg-left.svg') no-repeat center;
}

.save {
  background: url('../../assets/img/archive.svg') no-repeat center;
}


