@import './../variables.module';


.canvasWrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  background-color: #FFFFFF;
  border: 1px solid black;
}