@import './../variables.module';


.canvasWrapper{
  margin-top: 10px;
  flex-grow: 1;
  display: inline-block;
  text-align: center;
}
.canvasWrapper canvas {
  background-color: #FFFFFF;
  border: 1px solid black;
}