@import './../variables.module';

.settingBar {
  height: fit-content;
  background: $bars-color;
  display: flex;
  z-index: 1;
  max-width: 100%;
  box-shadow: $boxShadow;
  top: $toolbar-height;
  padding: 5px 15px
}

.settingItem {
  margin-right: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.settingItem label {
  font-size: medium;
  padding: 5px;
}