@import "./../variables.module";

.toolbar {
  height: $toolbar-height;
  background-color: $bars-color;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  box-shadow: 0 4px 5px gray;
  padding: 0px 10px 0px 10px ;
}

.toolbarInstruments{
  display: flex;
}
.toolbarFunc{
  display: flex;
}
